@model SampleApplication.Movies.ViewModels.Movie

@{
    ViewBag.Title = "Create a Movie";
}

<h2>Create a Movie</h2>

@using (Html.BeginForm("Create", "Movie")) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Movie</legend>
         
        @Html.EditorForModel()

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}